#code-design-section {
	background: url('../img/code-design.jpg');
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	background-size: cover;
	.box-code-design {
		padding-right: 10%;
		padding-left: 10%;
		h4{
			color: $color-white;
			padding-top: 155px;
			padding-bottom: 15px;
		}
		p {
			color: $color-white;
			line-height: 26px;
		}
		.button {
			margin-bottom: 135px;
			margin-top: 35px;
		}
	}
	

}