#whatwedo-section {
	padding-bottom: 100px;
	.option {
		padding-bottom: 60px;
		i.ci {
		float: left;
		height: 125px;
		width: 150px;
		background: url('../img/icon-sprite.png') no-repeat;
		margin-right: 25px;
		}
		i.ci-1 		{ background-position: 0 0; }
		i.ci-2		{ background-position: -160px 0; }
		i.ci-3		{ background-position: -320px 0; }
		i.ci-4		{ background-position: -460px 0; }
		p {
		line-height: 26px;
		padding-top: 25px;
		}
	}


}